html, body {
	height: 100%;
}
.canvas {
  position: relative;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  background: #D0D0D1;
}
div {
  -webkit-transform: rotate(-17deg);
  transform: rotate(-17deg);
  position: absolute;
}
.pink1 {
  background: #C65B79;
  width: 16%;
  height: 36%;
  left: 38%;
  bottom: .875%;
}
.offwhite {
  background: #CACBCB;
  width: 6%;
  height: 25.9%;
  top: 36%;
  left: 21%;
}
.yellow1 {
  background: #C4C14C;
  width: 7%;
  height: 31.75%;
  top: 31.5%;
  left: 30%;
}
.black1 {
  background: #161C1A;
  width: 2%;
	height: 32%;
  top: 33%;
  left: 41%;
}
.green {
  background: #33634A;
  width: 8.6%;
  height: 71.25%;
  bottom: 1%;
  left: 51%;
}
.blue {
  -webkit-transform: rotate(32.5deg);
  transform: rotate(32.5deg);
  background: #2F7FBE;
  width: 8.8%;
  height: 84.5%;
  left: 39%;
  top: -5%;
}
.red {
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
  background: #C64E3E;
  width: 8.5%;
  height: 5.25%;
  top: 35%;
  left: 40%;
}
.black2 {
  background: #2B2E33;
  width: 31%;
	height: 8%;
  top: 16.75%;
	left: 38%;
}
.pink2 {
  background: #C65B79;
  width: 69.7%;
  height: 2.8%;
  top: 14%;
  left: 17.5%;
}
.grey {
  background: #8596A8;
  width: 80.8%;
  height: 7%;
  top: 8.125%;
  left: 9.5%;
}
.yellow2 {
  background: #C4C14C;
  width: 2.75%;
  height: 6%;
  top: 7.5%;
  left: 34%;
}
