html, body {
	height: 100%;
  background: #d6d6d6;
	margin: 0;
}
.wrapper {
  height: 70vh;
  margin: 0 auto;
  position: relative;
	top: 26vh;
}
div {
  -webkit-transform: rotate(-17deg);
  transform: rotate(-17deg);
  position: absolute;
}
.red {
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
  background: #ff0000;
  width: 8%;
  height: 4%;
  top: 35%;
  left: 60%;
}
.red1 {
  width: 30%;
  height: 8%;
  top: 44%;
  left: 44%;
  transform: rotate(12deg);
}
.white2 {
  background: #fff;
  width: 6%;
  height: 21.9%;
  top: 36%;
  left: 21%;
}
.grey {
  background: #a3a3a3;
  width: 7%;
  height: 30%;
  top: 31.5%;
  left: 30%;
}
.black1 {
  background: #141414;
  width: 2%;
	height: 32%;
  top: 38%;
  left: 41%;
}
.grey1 {
  background: #a3a3a3;
  width: 8.6%;
  height: 50%;
  bottom: 1%;
  left: 51%;
}
.grey2 {
  -webkit-transform: rotate(32.5deg);
  transform: rotate(32.5deg);
  background: #a3a3a3;
  width: 8%;
  height: 70%;
  left: 39%;
  top: -5%;
}
.black2 {
  background: #141414;
  width: 30%;
	height: 6%;
  top: 16%;
	left: 38%;
}
.red2 {
  width: 60%;
  height: 2%;
  top: 14%;
  left: 17%;
}
.white {
  background: #fff;
  width: 40%;
  height: 7%;
  top: -10%;
  left: 9%;
}
.white1 {
  background: #fff;
  width: 2%;
  height: 6%;
  top: 7%;
  left: 34%;
}
